<!--BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.-->

<!DOCTYPE html>
<html>
  <head>
    <title>SISTE Counseling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Open Graph Attributes -->
    <meta property="og:title" content="SISTE Counseling" />
    <meta property="og:description" content="sale riunioni di SISTE Counseling per webinar e corsi online" />
    <meta property="og:image" content="<%= branding_image %>" />
 
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
   <link rel="manifest" href="/site.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "main", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

